@model WizardVS.Models.EmpleadoPersonalViewModel
@{
    ViewBag.Title = "Personal Info";
}
<h2>Personal</h2>
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}
@using (Html.BeginForm("PersonalInfo", "Empleados", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>PASO 1: Registro personal del empleado</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombres,"Nombre del Empleado" ,new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nombres,new { @class = "form-control", placeholder = "Ingresa el nombre del Empleado", required = "required" })
            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Apellidos,"Apellidos del Empleado" ,new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Apellidos,new { @class = "form-control", placeholder = "Ingresa el Apellido del Empleado", required = "required" })
            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Domicilio,"Domicilio del Empleado" , new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Domicilio,new { @class = "form-control", placeholder = "Ingresa el Domicilio del Empleado", required = "required"} )
            @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
        </div>
    </div>
 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="BtnPrevious" value="Previous" class="btn btn-default" />
            <input type="submit" name="BtnNext" value="Next" class="btn btn-default" />
        </div>
    </div>
</div>
} 